@font-face {
  font-family: "proxima-nova-soft";
  font-style: normal;
  src: url("../fonts/ProximaNovaSoft-Regular.otf");
}
*{
  box-sizing: border-box;
}
body{
  font-family: "proxima-nova-soft";
  color: #494949;
}
.flex-container{
  display: flex;
}
.m-auto{
  margin: auto;
}
.br-50{
  border-radius: 5rem;
}
.bo-top-1-solid-gray{
  border-top: 1px solid #EEEEEE;
}
.pd-10-30{
  padding: 1rem 3rem;
}
.p-top{
  padding-top: 5rem;
}
.bgpos-rg-btm{
  background-position: right bottom;
}
.bgpos-ce-ce{
    background-position: center center;
}
.p-rel{
  position: relative;
}
.p-abs{
  position: absolute;
}
.c-white{
  color: white;
}
.bg-white{
  background-color: white;
}
.bg-gray{
  background-color: #F9F9F9;
}
.bg-light-blue{
  background-color: #75B9E7;
}
.cent-itm{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fle-btwee{
  justify-content: space-between;
}
.fl-dir-col{
  flex-direction: column;
}
.fw-600{
  font-weight: 600;
}
.font-s-64{
  font-size: 6.4rem;
}
.l-height-24{
  line-height: 2.4rem;
}
.top-40{
  top: 4rem
}
.left-120{
  left: 12rem;
}
/*header*/
.hero-header{
  height: 48rem;
  max-height: 650px;
}
.icon{
  background-size: cover;
}
.icon--hero, .icon--hero-bg{
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.icon--hero-bg{
  height: 90%;
}
.icon--hero-park{
  height: 31.6rem;
  width: 26rem;
  left: -22%;
}
.icon--hero-bench{
  left: 95%;
  width: 14.8rem;
  height: 6.6rem;
}
.hero-header .icon--hero-park, .hero-header .icon--hero-bench{
  transform: scale(0.7) translateX(-50%);
  bottom: 1.9rem;
}
.logo-size-xs{
  width: 12rem;
}
.logo-size-sm{
  width: 9rem;
}
.he-35{
  height: 3.5rem;
}
/*section works*/
.icon--step-bond-guarantee, .icon--step-quote, .icon--step-payment{
  width: 17.5rem;
  height: 17.5rem;
}
.contain-circle{
  width: 22.5rem;
  height: 22.5rem;
}
/*section our promise*/
.font-title-sec{
  font-size: 3.8rem;
}
.ic-cont-feature{
  height: 8rem;
}
.icon--feature-supsitionrt, .icon--feature-professional, .icon--feature-insurance, .icon--feature-flexibility, .icon--feature-transparency, .icon--feature-eco, .icon--social-fb, .icon--social-tw, .icon--social-gp{
  width: 5rem;
  height: 5rem;
}
.icon--arrow-down{
  width: 3rem;
  height: 3rem;
}
/*Our Commnunity*/
.avatar-community{
  background: url("../img/sprite/testimonials.jpg");
  width: 10rem;
  height: 10rem;
}
#jessica{
  background-position: center top;
}
#mesker{
  background-position: center bottom;
}
#renee{
  background-position: center 50%;
}
.icon-container{
  height: 5rem;
}
/*section cleaning checklist*/
.tranX--100-rotZ-5{
  transform: translateX(15%) rotateZ(-5deg);
}
.image, .image-bg{
  width: 44%;
}
/*checklist*/
.checklist{
  height: 65rem;
}
.checklist-s{
  height: 28rem;
}
.vertical-divider{
  height: 98%;
  position: absolute;
  left: 9%;
  top: 1rem;
  width: 1px;
  background-color: red;
}
#cleaning input[type=checkbox][disabled]{
  cursor: default;
}
/*footer*/
footer{
  height: 50rem;
}
@media (min-width: 768px){
  .logo-size{
    width: 9rem;
  }
  .hero-header{
    height: 100vh;
  }
  .icon--hero-bench {
    left: 80%;
  }
  .icon--hero-park{
    left: -9.5%;
  }
  .hero-header .icon--hero-bench, .hero-header .icon--hero-park{
    transform: scale(1);
  }
  .font-s-48{
    font-size: 4.8rem;
  }
  h5{
    font-size: 1.8rem;
  }
  .l-height-36{
    line-height: 3.6rem;
  }
  .fl-dir-row{
    flex-direction: row;
  }
  .text-sm{
    text-align: left;
  }
  /*section our promise*/
  .font-title-sec{
    font-size: 6.4rem;
  }
  .font-h4{
    font-size: 2.4rem;
  }
  .icon--feature-support, .icon--feature-professional, .icon--feature-insurance, .icon--feature-flexibility, .icon--feature-transparency, .icon--feature-eco{
    width: 8rem;
    height: 8rem;
  }
  .fl-dir-col-sm{
    flex-direction: column;
  }
  .text-center-sm{
    text-align: center;
  }
  /*Section Our Commnity*/
  .text-left-sm{
    text-align: left;
  }
  .flex-start-sm{
    justify-content: flex-start;
  }
  .font-size-24-sm{
    font-size: 2.4rem;
  }
  .l-height-28-sm{
    line-height: 2.8rem;
  }
  /*footer*/
  footer{
    height: 30rem;
  }
}
@media (min-width: 992px){
  .icon--hero-park{
    left: 10%;
  }
  .contain-circle{
    width: 27.5rem;
    height: 27.5rem;
  }
}
