@font-face {
  font-family: "proxima-nova-soft";
  font-style: normal;
  src: url("../fonts/ProximaNovaSoft-Regular.otf");
}
*{
  box-sizing: border-box;
}
body{
  font-family: "proxima-nova-soft";
  color: #494949;
}
.m-auto{
  margin: auto;
}
.br-50{
  border-radius: 5rem;
}
.pd-10-50{
  padding: 1rem 5rem;
}
.bgpos-rg-btm{
  background-position: right bottom;
}
.bgpos-ce-ce{
    background-position: center center;
}
.p-rel{
  position: relative;
}
.p-abs{
  position: absolute;
}
.ov-hid{
  overflow: hidden;
}
.bg-yellow{
  background-color: #FFCC66
}
.cent-itm{
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-blue{
  color: #3498DB;
}
.fw-600{
  font-weight: 600;
}
.l-height{
  line-height: 2.4rem;
}

.hero-header{
  color: white;
  height: 100vh;
  max-height: 650px;
}
.icon{
  background-size: cover;
}
.icon--hero, .icon--hero-bg{
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.icon--hero-bg{
  height: 90%;
}
.icon--hero-park{
  height: 31.6rem;
  width: 26rem;
  left: -22%;
}
.icon--hero-bench{
  left: 95%;
  width: 14.8rem;
  height: 6.6rem;
}
.hero-header .icon--hero-park, .hero-header .icon--hero-bench{
  transform: scale(0.7) translateX(-50%);
  bottom: 1.9rem;
}
.logo-size{
  width: 36.365%;
}

/*section works*/
.icon--step-bond-guarantee{
  width: 17.5rem;
  height: 17.5rem;
}
.contain-circle{
  width: 62.676%;
  height: 22.5rem;
  border-radius: 50%;
}
